# Create play button for user to start quiz {% extends 'layout.html' %} {% block
content %}
<div class="container">
  <div class="row">
    <h1 class="display-1">How well do you know music theory?</h1>
    <!--This code navigates user to play.html page (quiz)-->
    <form action="/play" method="GET">
      <button class="btn btn-primary mb-3">Play</button>
    </form>
  </div>
  <div class="row"></div>
</div>
<div class="container">
  <div class="row">
    <h1>Sample Secure Form</h1>
  </div>
  <!--Create input fields-->
  <div class="container">
    <div class="row">
      <form action="/form.html" method="POST" class="box">
        <div class="col-auto">
          <label name="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            name="email"
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
            placeholder="name@example.com"
          />
        </div>

        {% endblock %}
      </form>
    </div>
  </div>
</div>
