{% extends 'layout.html' %} {% block content %}
<div class="quiz-container">
  <div class="quiz-display">
    <h2>{{ quiz }}</h2>
  </div>

  {% if not finished %}
  <form method="POST" action="/play">
    <input type="text" name="user_answer" placeholder="Your answer" />

    <!-- hidden correct answer and question text -->
    <input type="hidden" name="actual_answer" value="{{ answer }}" />
    <input type="hidden" name="quiz" value="{{ quiz }}" />

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  {% endif %} {% if alert_message %}
  <p>{{ alert_message }}</p>
  {% endif %} {% if alert_message and not finished %}
  <form action="/play" method="GET">
    <button class="btn btn-primary">Next question</button>
  </form>
  {% endif %} {% if score is not none %}
  <p><strong>Current Score:</strong> {{ score }}</p>
  {% endif %}
</div>
{% endblock %}
