{% extends 'layout.html' %} {% block content %}
<div class="quiz-container">
  <h2>{{ quiz }}</h2>
  <p><strong>Score:</strong> {{ score }}</p>

  {% if not finished %}
  <form method="POST" action="/play-terms">
    {% for choice in choices %}
    <label>
      <input type="radio" name="option" value="{{ choice }}" required /> {{
      choice }} </label
    ><br />
    {% endfor %}

    <input type="hidden" name="correct_option" value="{{ answer }}" />
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit">Submit / Next</button>
  </form>
  {% endif %} {% if alert_message %}
  <p>{{ alert_message }}</p>
  {% endif %}
</div>
{% endblock %}
